# === PYTHON ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.log

# === ENVIRONNEMENT VIRTUEL ===
venv/
env/
ENV/

# === JUPYTER / NOTEBOOKS ===
.ipynb_checkpoints

# === DOCKER ===
*.env
docker-compose.override.yml

# === TERRAFORM ===
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
terraform.tfvars.json
crash.log

# === MLflow ===
mlruns/
mlartifacts/

# === DONNÉES ===
data/*.csv
data/*.xlsx
data/*.parquet
*.h5
*.pkl

# === ANSIBLE ===
*.retry
inventories/*/host_vars/
inventories/*/group_vars/

# === CLÉS / CREDENTIALS / SÉCURITÉ ===
infra/*.pem
infra/.ssh/
*.key
*.crt
*.der

# === OS / IDE / ÉDITEURS ===
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.bak

# === AUTRES FICHIERS PERSOS ===
*.zip
*.tar.gz
